<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Zbrunk</title>
        <script src="/js/vue.js"></script>
<!--        <!script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
        <script src="/js/axios.min.js"></script>
<!--        <!script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->
        <link href="https://myCDN.com/prism@v1.x/themes/prism.css" rel="stylesheet" />
    </head>
        <img src="/img/logo.png">
        <div id="search">
            <p>Search:<p>
            <p><textarea id="operation_text" cols="100" rows="10" v-model="operation_text"></textarea></p>
            <p><button id="executeButton" type="button" v-on:click="search()">Execute!</button></p>
            <p>Results:</p>
            <div v-html="results"></div>
        </div>
        <script src="/js/search.js"></script>
        <script src="https://myCDN.com/prism@v1.x/components/prism-core.min.js"></script>
	    <script src="https://myCDN.com/prism@v1.x/plugins/autoloader/prism-autoloader.min.js"></script>
    </body>
</html>