<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Operation executer</title>
    <script src="/js/vue.js"></script>

</head>
<body>
    <div id="example-3">
        <p>Operation: <textarea id="operation_text" cols="40" rows="5" v-model="operation_text"></textarea></p>
        <p><button id="executeButton" type="button" v-on:click="say('hi')">Execute!</button></p>
    </div>
</body>

<script src="/js/vue_operation.js"></script>
<!--script src="/js/operation.js"></script-->
</html>