<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Zbrunk</title>
        <script src="/js/vue.js"></script>
<!--        <!script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
        <script src="/js/axios.min.js"></script>
<!--        <!script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->
<!--        <link href="https://myCDN.com/prism@v1.x/themes/prism.css" rel="stylesheet" />-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <style>
table {
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid black;
}
span {
  background-color: #E5E4E2;
  display: inline-block;
}
    </style>

    </head>
    <body>
        <div>
            <img src="/img/logo.png">
        </div>
        <div>
            <span id="agent_installation_coverage_dynamics_table"></span>
        </div>
        <div>
            <span id="agent_installed_informer_table"></span>
            <span id="agent_not_installed_informer_table"></span>
            <span id="agent_installation_coverage_informer_table"></span>
        </div>
        <div>
            <span id="agent_installation_table"></span>
        </div>

        <script src="/js/testdash.js"></script>
<!--        <script src="https://myCDN.com/prism@v1.x/components/prism-core.min.js"></script>-->
<!--	    <script src="https://myCDN.com/prism@v1.x/plugins/autoloader/prism-autoloader.min.js"></script>-->
    </body>
</html>